
* {
    box-sizing: border-box; 
}

body {
    font-family: Arial;
    padding: 10px;
    background: #000000;
}


/* Header/Blog Title */ 
.header {
    padding: 15px;
    text-align: center; 
	background: yellow;
	border-style: solid;
    border-color: green;
}


.header h1 {
    font-size: 75px;
}


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #f82525;
	border-style: solid;
    border-color: blue;
}

/* Style the topnav links */
.topnav a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #f46302;
    color: orange;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
	border-style: solid;
    border-color: yellow;
}

/* Right column */
.rightcolumn { 
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
	border-style: solid;
    border-color: green;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: blue;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #1d821a;
    margin-top: 20px;
	border-style: solid;
    border-color: red;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}



